<topbanner [title] = "title"></topbanner>
<div class="row">
  <div class="column">
    <location></location>
  </div>
  <div class="column">
    <!--[variableHijo]="variablePadre" Paso de variable de padre a hijo-->
    <!--(eventoHijo)="funcionPadre" Paso del evento desde hijo a padre-->
    <temperatura 
      [temp] = "temp"   
      (riseTempEvent)="incrementarTemperatura()" 
      (downTempEvent)="decrementarTemperatura()">
    </temperatura>
  </div>
  <div class="column">
    <clima></clima>
  </div>
</div>
<my-footer 
  [titleHijo] = "title" 
  [temp] = "temp"></my-footer><!--Se suele poner siempre lo mismo, pero los corchetes son el hijo-->
